.auth-card {
    width: 480px;
    padding: 75px 50px 130px 50px;
    border-radius: 4px;
}

.auth-card-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}