.auth-container {
    display: flex;
    justify-content:center;
    padding: 40px 60px 120px 60px;  
}

.auth-info-title {
    margin-top: 40px;
    margin-left: 25px;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.015em;
    
    color: #FFFFFF;
}

.auth-info-subtitle {
    margin-top: 20px;
    margin-left: 25px;
    //font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
}

.auth-info {
    padding-right: 6%;
}

.auth-image {
    width: 480px;
    height: 440px;
}

@media(max-width: 1078px) {

    .auth-info {
        padding-right: 0;
    }
}

@media(max-width: 768px) {

    .auth-container {
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        padding: 40px;  
    }

    .auth-info {
       display: none;
    }
}

@media(max-width: 576px) {

    .auth-container {
        display: flex;
        align-items: center;
        padding: 20px 20px 50px 20px;  
    }
}


