.login-form {
    margin-top: 36px;
}

.auth-button {
    width: 384px;
    height: 65px;
    margin-top: 74px;
    margin-bottom: 30px;
}

.auth-register {
    display: flex;
    justify-content: center;
    align-items: center;
    :hover {
        color: #b4b4b4;
    }
}

.auth-register-link {
    margin-left: 8px;
}