.movie-container {
    margin-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.catalog-movies {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px); // Preencher o espaço fazia com quantos card couber, sem expandir
    grid-gap: 40px 19px;
    justify-content: space-between;
}

@media(max-width: 576px) {

    .movie-container {
        padding-left: 4%;
        padding-right: 4%;
    }

    .catalog-movies {
        display: flex;
        flex-direction: column;
        flex: 1;

    }
    
}
